<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../main.css">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="Controller/index.js"></script>
</head>

<body>
    <div class="w3-container">
        <div class="w3-container w3-light-blue">
            <div class="w3-container w3-left w3-animate-opacity">
                <div class="submain_text verdana cl_white translatable">Wykształcenie:</div>
                <div class="sub_text verdana">
                        2016 – obecnie: Szkoła Główna Gospodarstwa Wiejskiego, Wydział Zastosowania Informatyki i Matematyki, kierunek: Informatyka,<br>
                        2013 – 2016: Liceum nr IV im. Adama Mickiewicza w Warszawie, profil: matematyczno-informatyczny<br><br>
                </div>
            </div>
        </div>
    </div>
</body>
